@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
:root{
  --primary: #DDB6F2;
  --secondary: #F28FAD;
  --dark: #302D41;
  --light: #D9E0EE;
  --grey: #6E6C7E;

  --font: 'Lato', sans-serif;
  --font-quote: 'Roboto Mono', monospace;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--font);
}
body{
  background-color: var(--dark);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.quote{
  position: relative;
}

blockquote{
  font-family: var(--font-quote);
  max-width: 720px;
  font-size: 2rem;
  background-color: var(--grey);
  padding: 3rem;
  border-radius: 1.5rem;
  color: #000;
}

.anime, .character{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: #fff;
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.anime{
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25%,50%);
}

.character{
  background-color: var(--primary);
  font-weight: 700;
  transform: translate(25%,50%);
  position: absolute;
  right: 0;
  bottom: 0;
}

button{
  appearance: none;
  border: none;
  outline: none;

  background-color: var(--primary);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  margin-top: 64px;
  margin-bottom: 64px;
  transition: 0.4s;
  font-size: 1.5rem;
  font-weight: 700;  
  cursor: pointer;
}
button:hover{
  background-color: var(--secondary);
}

header{
  padding-top: 50px;
  padding-bottom: 50px;
}
h1{
  color: #AAA;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
strong{
  color: #fff;
}